.qyj-btn-normal {
  color: var(--app-color-primary);
  border-color: var(--app-color-primary);
}

.qyj-btn-primary-normal {
  color: #fff;
  background-color: var(--app-color-primary);
  border-color: var(--app-color-primary);
}

.qyj-btn-warn {
  color: var(--app-color-warn);
  border-color: var(--app-color-warn);
}

.qyj-btn-primary-warn {
  color: #fff;
  background-color: var(--app-color-warn);
  border-color: var(--app-color-warn);
}

.qyj-btn-error {
  color: var(--app-color-error);
  border-color: var(--app-color-error);
}

.qyj-btn-primary-error {
  color: #fff;
  background-color: var(--app-color-error);
  border-color: var(--app-color-error);
}
