@mixin kind($base, $text, $border, $background) {
  color: $text;
  border-color: $border;
  &:hover {
    color: $text;
    border-color: $border;
    background-color: $background;
  }
  &:focus {
    color: $base;
    border-color: $base;
    background-color: $background;
  }
  &:active {
    color: $base;
    border-color: $base;
    background-color: $background;
  }
}
.qyj-btn-normal {
  @include kind(var(--app-color-primary), var(--app-color-primary-light-60), var(--app-color-primary-light-65), var(--app-color-primary-light-97));
}

.qyj-btn-warn {
  @include kind(var(--app-color-warn), var(--app-color-warn-light-60), var(--app-color-warn-light-65), var(--app-color-warn-light-97));
}

.qyj-btn-error {
  @include kind(var(--app-color-error), var(--app-color-error-light-60), var(--app-color-error-light-65), var(--app-color-error-light-97));
}

@mixin primary-kind($base, $text, $border) {
  color: #fff;
  border-color: $base;
  background-color: $base;
  &:hover {
    color: #fff;
    border-color: $text;
    background-color: $text;
  }
  &:focus {
    color: #fff;
    border-color: $base;
    background-color: $base;
    outline: 2px solid $border;
  }
  &:active {
    color: #fff;
    border-color: $base;
    background-color: $base;
    outline: 2px solid $border;
  }
}

.qyj-btn-primary-normal {
  @include primary-kind(var(--app-color-primary), var(--app-color-primary-light-60), var(--app-color-primary-light-65));
}

.qyj-btn-primary-warn {
  @include primary-kind(var(--app-color-warn), var(--app-color-warn-light-60), var(--app-color-warn-light-65));
}

.qyj-btn-primary-error {
  @include primary-kind(var(--app-color-error), var(--app-color-error-light-60), var(--app-color-error-light-65));
}

@mixin text-kind($base, $text, $background) {
  color: $text;
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  &:hover {
    color: $text;
    border-color: transparent;
    background-color: $background;
    box-shadow: none;
  }
  &:focus {
    color: $base;
    border-color: transparent;
    background-color: $background;
    box-shadow: none;
  }
  &:active {
    color: $base;
    border-color: transparent;
    background-color: $background;
    box-shadow: none;
  }
}

.qyj-btn-text-normal {
  @include text-kind(var(--app-color-primary), var(--app-color-primary-light-60), var(--app-color-primary-light-97));
}

.qyj-btn-text-warn {
  @include text-kind(var(--app-color-warn), var(--app-color-warn-light-60), var(--app-color-warn-light-97));
}

.qyj-btn-text-error {
  @include text-kind(var(--app-color-error), var(--app-color-error-light-60), var(--app-color-error-light-97));
}

@mixin link-kind($base, $text) {
  color: $text;
  border-color: transparent;
  box-shadow: none;
  &:hover {
    color: $text;
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
  }
  &:focus {
    color: $base;
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
  }
  &:active {
    color: $base;
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
  }
}

.qyj-btn-link-normal {
  @include link-kind(var(--app-color-primary), var(--app-color-primary-light-60));
}

.qyj-btn-link-warn {
  @include link-kind(var(--app-color-warn), var(--app-color-warn-light-60));
}

.qyj-btn-link-error {
  @include link-kind(var(--app-color-error), var(--app-color-error-light-60));
}
