.qyj-btn-s {
  font-size: calc(var(--app-font-size) * var(--app-size-s));
}

.qyj-btn-m {
  font-size: calc(var(--app-font-size) * var(--app-size-m));
}

.qyj-btn-l {
  font-size: calc(var(--app-font-size) * var(--app-size-l));
}
