.qyj-btn {
  color: var(--app-color);
  background-color: var(--app-background-color);
  font-size: var(--app-font-size);
  border-width: var(--app-border-width);
  border-style: var(--app-border-style);
  border-radius: var(--app-border-radius);
  border-color: var(--app-border-color);
  cursor: pointer;
}
