.qyj-btn {
  color: var(--app-font-color);
  background-color: var(--app-background-color);
  font-size: var(--app-font-size);
  border-width: var(--app-border-width);
  border-style: var(--app-border-style);
  border-radius: var(--app-border-radius);
  border-color: var(--app-border-color);
  cursor: pointer;
  transition: all .1s;
  outline: 0px solid #fff;
  box-shadow: var(--app-box-shadow);
  padding: 4px 12px;
}

.qyj-btn:hover {
  color: var(--app-color-primary-light-60);
  border-color: var(--app-color-primary-light-70);
}

.qyj-btn:focus {
  color: var(--app-color-primary-light-60);
  border-color: var(--app-color-primary-light-70);
}
