.qyj-menu-group {
  line-height: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: height 0.2s;
}

.qyj-menu-group > .qyj-menu-item:first-child {
  background-color: #eee;
  &:hover {
    background-color: #ddd;
  }
}
