@keyframes qyj-in {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1, 0.9) translateY(-10%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: scale(1, 1);
  }
}

@keyframes qyj-out {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1, 0.9) translateY(-10%);
  }
}
