:root {
  // color
  --app-color-primary: hsl(215, 100%, 54%);
  --app-color-primary-light-10: hsl(215, 100%, 64%);

  --app-color-warn: hsl(52, 100%, 50%);
  --app-color-warn-light-10: hsl(52, 100%, 64%);

  --app-color-error: hsl(0, 88%, 58%);
  --app-color-error-light-10: hsl(0, 88%, 68%);

  // size-rate
  --app-size-s: 0.8;
  --app-size-m: 1;
  --app-size-l: 1.2;

  // font
  --app-font-size: 16px;
  --app-font-color: #000;

  // background
  --app-background-color: #FFF;

  // border
  --app-border-color: #000;
  --app-border-width: 1px;
  --app-border-style: solid;
  --app-border-radius: 4px;
  --app-border-radius-round: 100px;
}
