.qyj-dropdown-item {
  display: inline-block;
  height: fit-content;
  width: fit-content;
  padding: 4px 10px;
  background-color: transparent;
  cursor: pointer;
}
.qyj-dropdown-item:hover {
  border-radius: 4px;
  background-color: #f0f0f0;
}
