.qyj-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  font-size: calc(var(--app-font-size) * 0.85);
  color: var(--app-font-color);
  border-color: var(--app-border-color);
  z-index: 1000;
  padding: 4px;
  border-radius: 6px;
  background-color: rgba(246, 246, 246, 0.6);
  box-shadow: var(--app-box-shadow-2);
  backdrop-filter: blur(40px);
  visibility: hidden;
  opacity: 1;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}
